<section class="mt-5 mb-5">
  <div class="container mt-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>

    <div class="p-5 mt4 bg-secondary">
      <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, modi
        minus recusandae voluptas necessitatibus voluptatem repellat neque
        reiciendis doloremque, deserunt quisquam excepturi sit odit iste. Error
        fuga ipsam mollitia deserunt. Magni impedit pariatur recusandae quasi
        quae obcaecati iste dolor nostrum!
      </p>
      <p class="text-white">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nulla
        nobis ipsum consectetur. Incidunt laborum tempora velit delectus fuga
        quo, iure non quae nemo possimus placeat! Magnam modi harum labore
        cupiditate similique sapiente veritatis animi sint, esse eius.
        Inventore, ratione.
      </p>
      <p class="text-white">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        deleniti provident autem, beatae ducimus accusantium molestias facilis
        hic saepe dignissimos maxime harum ipsa modi. Voluptate atque nihil
        voluptates laudantium? Harum odio voluptate accusamus excepturi
        similique sapiente adipisci aliquam beatae vitae.
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4">Back t Home</button>
      </div>
    </div>
  </div>
</section>
