<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div id="titi">My_Site</div>
        <div>
          <ul class="nav justify-content-center">
            <li class="nav-item ml-3"><a class="nav-link" href="">Home</a></li>
            <li class="nav-item ml-3"><a class="nav-link" href="">About</a></li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="">Terms && condition</a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="">Contact</a>
            </li>
          </ul>
        </div>
        <p class="mb-2 mt-2">Copytright @ Ahmed</p>
      </div>
    </div>
  </div>
</footer>
